<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="aidin_hand2">

  <!-- ============================= Placement ============================ -->

  <xacro:arg name="use_left_hand" default="true"/>
  <xacro:arg name="use_right_hand" default="true"/>
  <xacro:arg name="left_hand_prefix" default="left_"/>
  <xacro:arg name="right_hand_prefix" default="right_"/>
  <xacro:arg name="left_hand_xyz" default="0 -0.1 0"/>
  <xacro:arg name="right_hand_xyz" default="0 0.1 0"/>
  <xacro:arg name="left_hand_rpy" default="0 0 0"/>
  <xacro:arg name="right_hand_rpy" default="0 0 0"/>
  <xacro:arg name="left_hand_parent" default="world"/>
  <xacro:arg name="right_hand_parent" default="world"/>

  <link name="world"/>

  <!-- ============================= Hand URDF ============================ -->

  <!-- Link, joint and mesh of each hand -->
  <xacro:include filename="$(find aidin_hand2_description)/urdf/aidin_hand2_left.urdf.xacro"/>
  <xacro:include filename="$(find aidin_hand2_description)/urdf/aidin_hand2_right.urdf.xacro"/>

  <xacro:if value="$(arg use_left_hand)">
    <xacro:aidin_hand2_left
      prefix="$(arg left_hand_prefix)"
      parent="$(arg left_hand_parent)">
      <origin xyz="$(arg left_hand_xyz)" rpy="$(arg left_hand_rpy)"/>
    </xacro:aidin_hand2_left>
  </xacro:if>

  <xacro:if value="$(arg use_right_hand)">
    <xacro:aidin_hand2_right
      prefix="$(arg right_hand_prefix)"
      parent="$(arg right_hand_parent)">
      <origin xyz="$(arg right_hand_xyz)" rpy="$(arg right_hand_rpy)"/>
    </xacro:aidin_hand2_right>
  </xacro:if>

  <!-- ==================== Hardware interface argument =================== -->

  <!-- Forwarded to the aidin_hand2_ros2_control macro, which documents each one -->

  <!-- Common -->
  <xacro:arg name="left_hand_interface"   default="can0"/>
  <xacro:arg name="right_hand_interface"  default="can1"/>
  <xacro:arg name="auto_home"            default="true"/>
  <xacro:arg name="max_effort"           default="1000"/>
  <xacro:arg name="control_rate"             default="500"/>
  <xacro:arg name="left_hand_cpu_affinity"   default="-1"/>
  <xacro:arg name="right_hand_cpu_affinity"  default="-1"/>
  <xacro:arg name="left_hand_disabled_actuators"  default=""/>
  <xacro:arg name="right_hand_disabled_actuators" default=""/>
  <xacro:arg name="auto_reconnect"            default="false"/>
  <xacro:arg name="auto_reconnect_timeout_ms" default="0"/>
  <xacro:arg name="auto_reconnect_home"       default="false"/>

  <!-- Mock only -->
  <xacro:arg name="use_mock" default="false"/>

  <!-- ======================== ros2_control system ======================= -->

  <!-- One ros2_control system per hand -->
  <xacro:include filename="$(find aidin_hand2_description)/ros2_control/aidin_hand2.ros2_control.xacro"/>

  <xacro:if value="$(arg use_left_hand)">
    <xacro:aidin_hand2_ros2_control
      name="left_hand_control"
      prefix="$(arg left_hand_prefix)"
      hand_side="left"
      can_interface="$(arg left_hand_interface)"
      auto_home="$(arg auto_home)"
      max_effort="$(arg max_effort)"
      control_rate="$(arg control_rate)"
      rt_cpu_affinity="$(arg left_hand_cpu_affinity)"
      disabled_actuators="$(arg left_hand_disabled_actuators)"
      auto_reconnect="$(arg auto_reconnect)"
      auto_reconnect_timeout_ms="$(arg auto_reconnect_timeout_ms)"
      auto_reconnect_home="$(arg auto_reconnect_home)"
      use_mock="$(arg use_mock)"/>
  </xacro:if>
  <xacro:if value="$(arg use_right_hand)">
    <xacro:aidin_hand2_ros2_control
      name="right_hand_control"
      prefix="$(arg right_hand_prefix)"
      hand_side="right"
      can_interface="$(arg right_hand_interface)"
      auto_home="$(arg auto_home)"
      max_effort="$(arg max_effort)"
      control_rate="$(arg control_rate)"
      rt_cpu_affinity="$(arg right_hand_cpu_affinity)"
      disabled_actuators="$(arg right_hand_disabled_actuators)"
      auto_reconnect="$(arg auto_reconnect)"
      auto_reconnect_timeout_ms="$(arg auto_reconnect_timeout_ms)"
      auto_reconnect_home="$(arg auto_reconnect_home)"
      use_mock="$(arg use_mock)"/>
  </xacro:if>
</robot>